.cancelButton{
    width:80px; 
    height:30px; 
    margin-right:10px;
    border-radius:3px; 
    border:1px solid #E8590C; 
    color:#E8590C; 
    background-color: #fff;
}
.saveButton{
    width:80px;
    height:30px;
    border-radius:3px; 
    border:1px solid #E8590C; 
    color:#E8590C; 
    background-color: #fff;
}