.tabs {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.tab {
    font-weight: 750;
    cursor: pointer;
    display: grid;
    place-items: center;
    flex: 0.2;
    background-color: #fef3ea;
    min-height: 2rem;
    padding: 0.5rem;
    font-size: 11px;
}
/* .child-container {
    display: flex;
    justify-content: center;
} */
.tab:first-child {
    color: white;
    background-color: var(--reva-brand-color);
}

@media (max-width: 900px) {
    .tab {
        font-size: 0.55rem;
    }
}

@media (max-width: 600px) {
    .tab {
        flex: 1;
    }
}