.flyout {
    position: absolute;
    background: white;
    border: 0.0625rem solid #ccc;
    top: 100%;
    left: 1.5rem;
    z-index: 1000;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
    width: calc(100% - 3rem);
}

.flyout ul {
    list-style: none;
    padding: 0.3125rem 0;
    margin: 0;
}

.flyout ul li a {
    display: block;
    padding: 0.625rem;
    text-decoration: none;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flyout ul li a:hover {
    background-color: var(--reva-background-page-color);
    text-decoration: underline;
}

.search-icon {
    position: absolute;
    right: 1.75rem;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('/sfsites/c/resource/SR_STUDENTPORTALASSETS/StudentPortalAssests/Icons/Header-Icons/search.png');
    background-size: cover;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
}

@media only screen and (max-width: 47.9375rem) {
    .flyout {
        left: 0;
        width: 100%;
        top: 80%;
    }

    .search-icon {
        right: 0.625rem;
    }
}