.bx--row {
    min-height: 50px;
}
.bx--col-lg-1 {
    max-width: fit-content;
    padding-right: 1rem;
    padding-left: 1rem;
}
@media (max-width: 930px) 
.bx--tile {
    width: 100%;
}
.timer-container {
    flex: 1;
    font-size: 1rem;
    color: #333; /* or any other color you prefer */
    text-align: left; /* Align text to the left */
}
.card .header p {
    color: white;
    text-decoration: none;
    font-size: calc(var(--font-size) * 0.8);
    letter-spacing: 2px;
    font-weight: 600;
}
.header-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
}
.card .date {
    margin-top: 5px;
}
.date img,
.time img,
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 270px;
    min-height: fit-content;
    padding-bottom: 3px;
    gap: 10px;
    cursor: pointer;
    background-color: white;
}
.bx--tile {
    cursor: pointer;
    margin-bottom: 1rem;
    padding: 1.25rem 1.5rem 1.5rem;
    display: flex;
    align-items: center;
    height: 135px;
    width: 260px;
}
.bx--tile--selectable {
    position: relative;
    padding-right: 3rem;
    border: 1px solid transparent;
}
.bx--tile {
    display: block;
    min-width: 8rem;
    min-height: 4rem;
    padding: 1rem;
    background-color: #f4f4f4;
    outline: 2px solid transparent;
    outline-offset: -2px;
}
.bx--tile--clickable,
.bx--tile--selectable,
.bx--tile--expandable {
    cursor: pointer;
    -webkit-transition: 150ms cubic-bezier(0.2, 0, 0.38, 0.9);
    transition: 150ms cubic-bezier(0.2, 0, 0.38, 0.9);
}
.bx--tile__checkmark {
    top: 1rem;
    right: 1rem;
    height: 1rem;
    opacity: 0;
}
.bx--tile__checkmark,
.bx--tile__chevron {
    position: absolute;
    border: none;
    background: transparent;
    -webkit-transition: 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
    transition: 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
}
.bx--tile-content {
    width: 100%;
    height: 100%;
}
.bx--tile-input {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    visibility: inherit;
    white-space: nowrap;
}
.bx--tile--is-selected {
    border: 2px solid #161616;
}
.bx--tile--is-selected .bx--tile__checkmark svg {
    fill: #161616;
}
.bx--tile__checkmark svg {
    border-radius: 50%;
    fill: #525252;
}
.bx--tile--is-selected .bx--tile__checkmark {
    opacity: 1;
}
.bx--tile--clickable:hover,
.bx--tile--selectable:hover,
.bx--tile--expandable:hover {
    background: #e5e5e5;
}
.bx--tile:active {
    border: 3px solid blue;
}
.bx--tile-content h2 {
    font-size: 16px;
    color: #4178be;
    font-weight: 600;
}
h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0;
}
.displayFlex {
    display: flex;
    max-width: max-content;
}

.bookMealButton {
    /*margin-right: calc(100% - 276px);
    float: right;*/
    text-align: center;

}
.lgc-bg {
    background-color: rgb(242 242 242);
}

.lgc-bg-inverse {
    background-color: rgb(22 50 92);
}

.disableTile {
    pointer-events: none;
}
h2[data-attr='bookedWarning'] {
    color: red;
}
.timerColor {
    background-color: rgb(242 242 242);
}
.borderRight {
    border-right: 3px solid;
}
.anchorClickable {
    pointer-events: all;
}
.menu{
    background-color: #f47c24;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: calc(var(--font-size)* 0.8);
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 3.25;
   
    
}
.headingborder{
    border:1px solid black;
    border-radius: 10px;
    max-width: 300px;
        
   
}
.dateformat{
    text-align: left;
    font-size: calc(var(--font-size) * 0.9);
   /* margin-left: 20%;*/
}
.imgsize{
   width: 10%; 
   height: 10%;
   margin-right: 10Px;

}