.slds-table-subject tbody tr:nth-of-type(2n-1) {
   margin-top: 5px;
   margin-bottom: 5px;
   background-color: #E6E6E6;
}

.slds-table-subject tbody tr:nth-of-type(2n) {
   margin-top: 5px;
   margin-bottom: 5px;
   background-color: #f5f5f5;
}


.time-table thead tr th {
   background-color: #707070 !important;
   color: white;
   padding: 8px !important;
   font-size: 13px;
   white-space: normal;
   word-wrap: break-word;
}





.time-table {
   table-layout: fixed;
}

.time-table tbody tr:focus {
   background: var(--reva-table-row-background-color) !important;

}

.time-table tbody tr:hover {
   background: var(--reva-table-row-background-color) !important;

}

.time-table tbody tr {
   border-top: 4px solid white !important;
}

.time-table tbody td {

   color: black;
   background: #DADADA !important;
   padding: 8px !important;
   font-size: 13px;
   white-space: normal;
   word-wrap: break-word;

}