.THIS.survey-wrapper {
    box-shadow: 2px 4px 9px -4px #6e6e6e;
    border: 1px solid var(--reva-brand-color);
    padding: 5px;
    border-radius: 10px;
}

.THIS .survey-heading {
    display: flex;
    background-color: var(--reva-component-heading-background-color);
    color: black;
    border: 0px;
    font-size: 15px;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.THIS .curriText {
    font-size: 14px;
    font-weight: 600;
}

.THIS .firstColumn {
    border-bottom: 1px dotted #f57f26;
    text-align: center;
    padding: 1%;
}

.THIS .instHead {
    font-size: 14px;
    font-weight: 600;
}

.THIS .padd {
    padding: 0% 1% 1% 1%;
}

.THIS .slds-tabs_scoped__link,
.THIS .slds-tabs--scoped__link {
    font-size: 14px;
}

.THIS .slds-is-active .slds-tabs_scoped__link {
    background-color: #f57f26 !important;
    color: white !important;
    font-weight: 600 !important;
    text-decoration: none !important;
}

.THIS .slds-tabs_scoped__content {
    border: 0px solid white !important;
    padding-top: 5px !important;
    padding: 7px 1px 5px 0px !important;
}

.THIS .slds-tabs_scoped__nav {
    display: flex;
    align-items: flex-start;
    /* background-color:#E9E9E9 !important; */
    border: 0px solid white !important;
}

.THIS .slds-tabs_scoped__nav {
    /*Orange tabset background*/
    display: flex;
    align-items: flex-start;
    border: 0 solid white !important;
    background-color: transparent !important;
}

.THIS .slds-tabs_scoped__content {
    background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundAlt, rgb(255, 255, 255)));
    border: px solid white !important;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: var(--lwc-borderRadiusMedium, 0.25rem);
    border-bottom-left-radius: var(--lwc-borderRadiusMedium, 0.25rem);
    padding: 7px 1px 5px 0px !important;
}

.THIS .slds-tabs_scoped__content .slds-tabs--scoped__content {
    background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundAlt, rgb(255, 255, 255)));
    border: 0px solid white !important;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: var(--lwc-borderRadiusMedium, 0.25rem);
    border-bottom-left-radius: var(--lwc-borderRadiusMedium, 0.25rem);
    padding-top: 10px !important;
}