@font-face {
    font-family: 'NunitoSans';
    src: url('/sfsites/c/resource/SR_STUDENTPORTALASSETS/StudentPortalAssests/Fonts/NunitoSans/NunitoSans_10pt-Regular.ttf') format('TrueType');
}
    *{
    font-family: 'NunitoSans', 'RobotoSlab', 'Roboto', 'Dosis', Helvetica !important;
}


.container{
    height: 100%;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--reva-brand-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.green{
    background-color: rgb(142, 204, 142);
    color: black;
    font-weight: 700;
    font-size: 1rem;
}
.red{
    background-color: rgb(255, 95, 95);
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

.yellow{
    background-color: #ffdb24;
    color: black;
    font-weight: 700;
    font-size: 1rem;
}
.overall-percentage{
    text-align: center;
}
.overall-percentage strong{
    margin-right: 1rem;
}
.header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tabs{
        /* margin-top: 1rem; */
    display: flex;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    gap: 0.5rem;
    /* margin-bottom: 1rem; */
    flex-grow: 1;

}

.tab{
    border: 1px solid lightgray;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex: 1;
    background-color: #FEF3EA;
    min-height: 2rem;
    padding: 0.5rem;
}

.tab:first-child{
    color: white;
    background-color: var(--reva-brand-color);
}

.body{
    width: 100%;
    height: 100%;
}

@media (max-width:900px){
    .tab, .red, .green, .yellow{
        font-size: 0.55rem;
    }
}

@media (max-width:500px){
    .container{
        padding: 0.3125rem;
    }
   
}