/* @font-face {
    font-family: 'NunitoSans';
    src: url('/sfsites/c/resource/SR_STUDENTPORTALASSETS/StudentPortalAssests/Fonts/NunitoSans/NunitoSans_10pt-Regular.ttf') format('TrueType');
}
    *{
    font-family: 'NunitoSans', 'RobotoSlab', 'Roboto', 'Dosis', Helvetica !important;
} */

.field-value label{
    color: var(--reva-brand-color) !important;
    font-weight: 600 !important;
}
tr{
    border-top: 4px solid white;
    font-size: 0.8rem;
}


section{
    overflow: auto;
}
table {
    border-collapse: collapse;
    overflow: auto;
    width: 100%;
    border-spacing: 0;
    background-color: white;
}

.pointer-hover{
    cursor: pointer;
}
table, th, td {
    /* border-collapse: collapse; */
    padding: 1rem;
    text-align: left;
}

thead th {
    top: 0;
    left: 0;
    background-color: var(--reva-table-heading-background-color);
   /*  cursor: pointer; */
    text-transform:uppercase;
    color: white;
}

tbody tr{
    background-color: var(--reva-table-row-background-color) !important;
}
.custom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.child-records-container{
    padding: 1.5rem;
    /* background-color: #FCE5CD; */
    justify-content: space-between;
}
.custom-box .slds-form-element__label {
    flex: 1;
    text-align: left;
}

.custom-box .slds-form-element__control {
    flex: 1;
    text-align: right;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header:first-child{
    margin-left: 1rem;
}

.header:last-child{
    margin-right: 1rem;
}

.case-number{
    color: var(--reva-brand-color);
    font-weight: 600;
    text-decoration: underline;
}
.button-container{
    margin-top: 18px;
    text-align: center;
}
@media (max-width: 650px) {

    td{
        display: grid;
        grid-template-columns: 16ch auto;
        gap:0.5rem;
        padding: 0.5rem 1rem;
    }   

    td:first-child{
        padding-left: 16px;
        padding-top: 2rem;
    }

    td:last-child{
        padding-bottom: 2rem;
    }
    th{
        display: none;
    }
    td::before{
        content: attr(data-cell) " : ";
        font-weight: 700;
    }
  
}

@media (max-width:500px){
    .modal-container{
    padding: 0.5rem;
    background-color: #f7f7f7;
}
    table {
    font-size: 12px;
}
    .first-child{
        padding-left: 16px;
    }


    td:first-child{
        padding-left: 16px;
        padding-top: 2rem;
    }
}

.slds-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

@media (min-width: 48em) {
    .slds-form-element_horizontal .slds-form-element__control, .slds-form_horizontal .slds-form-element .slds-form-element__control, .slds-form_stacked .slds-form-element_horizontal .slds-form-element__control {
        padding-left: 15%;
        clear: none;
    }
    .container {
        height: 100%;
        width: 100%;
        padding: 3rem;
        border: 1px solid var(--reva-brand-color);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: white;
    }
}
.horizontal-card {
    background-color: #fffbf6; /* Light orange background */
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex; /* Flexbox for horizontal alignment */
    align-items: center;
    justify-content: space-around; /* Space around items */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.horizontal-card-content span {
    margin: 0 20px; /* Increase margin for more space between elements */
    white-space: nowrap; /* Prevent line breaks */
    flex: 1; /* Allow elements to take up available space */
    text-align: center; /* Center the text within each span */
}

.input-182{
   padding-left: 12px;;
}