.tile-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns for large screens */
    grid-gap: 1rem; /* Adds consistent space between tiles */
    width: 100%;
}

.parent-tile {
    border-radius: 0.9375rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 12px;
    min-height: 200px; /* Ensures a consistent height */
}

.heading-tile {
    display: flex;
    justify-content: space-between;
}

.heading-tile-icon {
    min-width: 3.125rem;
}

.heading-tile-icon img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}

.body-tile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body-tile :nth-child(1) {
    border-bottom: 0.0625rem dotted darkgrey;
    width: 70%;
}

.footer-tile {
    text-align: end;
}

.footer-tile a {
    color: white;
}

.parent-tile:nth-child(1), .parent-tile:nth-child(5), .parent-tile:nth-child(9), .parent-tile:nth-child(13) {
    background-image: linear-gradient(135deg, #3B4A69 0%, #049AD7 100%);
}

.parent-tile:nth-child(2), .parent-tile:nth-child(6), .parent-tile:nth-child(10) {
    background-image: linear-gradient(135deg, #145655 0%, #0097A2 100%);
}

.parent-tile:nth-child(3), .parent-tile:nth-child(7), .parent-tile:nth-child(11) {
    background-image: linear-gradient(135deg, #902551 0%, #DA3B73 100%);
}

.parent-tile:nth-child(4), .parent-tile:nth-child(8), .parent-tile:nth-child(12) {
    background-image: linear-gradient(135deg, #924414 0%, #F07F07 100%);
}

/* Adjust layout for medium screens */
@media only screen and (max-width: 64rem) {
    .tile-container {
        grid-template-columns: repeat(3, 1fr); /* 3 tiles per row */
    }
}

/* Adjust layout for smaller screens (tablets) */
@media only screen and (max-width: 48rem) {
    .tile-container {
        grid-template-columns: repeat(2, 1fr); /* 2 tiles per row */
    }
}

/* Adjust layout for mobile screens */
@media only screen and (max-width: 30rem) {
    .tile-container {
        grid-template-columns: repeat(1, 1fr); /* 1 tile per row for very small screens */
    }
}