/*.container{
    height: 100%;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--reva-brand-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}*/

/*
Replace var(--reva-brand-color) with var(--reva-brand-color)
Replace grey with var(--reva-table-heading-background-color);
Replace light-grey with var(--reva-table-row-background-color) 
*/
.container{
    height: 100%;
    width: 100%;
    padding: 3rem;
    border: 1px solid var(--reva-brand-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.hostel-information h4{
    color:#3770c1;
}
.hostel-information >*{
    font-size: 1rem;
    font-weight: 600;
}
.first-page h5{
    background-color: #bdbcbc;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.hostel-information{
    background-color: #e9e9e9;
    display: flex;
    padding: 10px;
    flex-direction: column;
    font-weight: 600;
    gap: 5px;
     
}

.general-information{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    font-weight: 600;
}

.acknowledgement-container{
    display: flex;
    gap: 10px;
    padding: 10px;
}

.acknowledgement-container p{
    font-weight: 600;
}



.register-button{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.tabs{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:0.5rem;
    margin-bottom: 1rem;
}

.tab{
    font-weight: 750;
    cursor: pointer;
    display: grid;
    place-items: center;
    min-width: 200px;
    padding: 5px;
    background-color: #FEF3EA;
    min-height: 2rem;
    padding: 0.5rem;
    font-size: 11px;
}

.tab:first-child{
    color: white;
    background-color: var(--reva-brand-color);
}
table {
    border-collapse: collapse;
    overflow: auto;
    width: 100%;
    border-spacing: 0;
    background-color: white;
}


table, th, td {
    /* border-collapse: collapse; */
    padding: 1rem;
    text-align: left;
}

thead th {
    top: 0;
    left: 0;
    background-color: grey;
    text-transform:uppercase;
    color: white;
}
tbody tr{
    background-color: lightgrey;
}
tr{
    border-top: 4px solid white;
    font-size: 0.8rem;
}
.header{
    display: flex;
    gap: 10px;
    padding: 15px;
}
.picklist div div div div div button{
        background: #fef1e8;
}
.hostel-selection-container{
    border: 2px solid black ;
}
.input-container lightning-combobox div{
    display: grid !important;
}

.sixth-page{
    padding: 10px;
}
.buttons-container{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3.5px;
}
.sixth-page p{
    margin: 5px;
    font-weight: 600;
    font-size: 0.8125rem;
}

.sixth-page h4{
    padding-inline: 15px;
    width: fit-content;
    background: var(--reva-brand-color);
    font-weight: 600;
    font-size: 1rem;
    padding-block: 5px;
    color: white;
    margin-block: 10px;
}

.sixth-page lightning-layout{
    text-align: left;
    padding: 7px;
    font-size: 14px;
    margin: 5px;
}
.details-table{
    margin-block: 1rem;
}
.sixth-page lightning-layout:nth-of-type(2n-1){
    background-color: #d3d3d3;
}
.sixth-page lightning-layout:nth-of-type(2n){
    background-color: #e1e1e1;
}
@media (max-width:900px){
    .tab{
        font-size: 0.55rem;
    }
}
@media (min-width:800px){
    .tab{
        font-size: 1rem;
    }
}
@media (max-width: 650px) {

    td{
        display: grid;
        grid-template-columns: 21ch auto;
        gap:0.5rem;
        padding: 0.5rem 1rem;
    }   

    td:first-child{
        padding-top: 2rem;
    }

    td:last-child{
        padding-bottom: 2rem;
    }
    th{
        display: none;
    }
    td::before{
        content: attr(data-cell) " : ";
        font-weight: 700;
    }
  
}

@media (max-width:500px){
    table {
    font-size: 12px;
}
.container{
    padding: 0rem;
}
.tab{
    flex: 1;
}

}