lightning-button.button {
    --slds-c-button-brand-color-background: orange;
    --slds-c-button-brand-color-background-hover: orange;
}
 
 /* .linkColor .consentPad a{
    color:orange !important; 
    
} */
 /* .lc-pick-up button{
        background-color:red !important;
    } */
 
    .slds-input_faux{
        background-color: red !important;
    }
.slds-combobox__input-value,
.back-color{
    background-color: #fef1e8 !important;
}
.transport-container{
    border: 1px solid #F07F07 !important;
    border-radius:10px; 
    padding:10px; 
}
.heading {
    background-color: lightgrey;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding:10px;
    }
 
.details{
    background: #d3d3d336;
    padding-left: 5px;
}
 
.details .course-data{
    font-size: medium;
    color: #2323b1;
}
.padMessage{
    padding: 0%;
    margin-top: 1%;
}
.consentPad {
    padding: 7px;
    text-align: justify;
}
 
.padAround{
    margin-top:24px;
}
.padAroundMin{
    display: flex;
    justify-content: center;
    align-content: center;
}
.marginAround{
    margin: 11px;
}
.para-box
{
    margin-top: 15px;
}
.para-box-1
{
    margin-top: 15px;
 
}
.para-box-2
{
    margin-top: 15px;
 
}
.mainDiv{
     margin:10px;
     padding: 10px;
 }
.underline-text
 {
    text-decoration: underline !important;
    text-decoration-color: #F07F07 !important;
    text-decoration-thickness: 14% !important;
    text-underline-offset: 3px !important;
      
 }
.custom-dropdown select {
    padding: 7px 12px;
    border: 1px solid #979696;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}
.custom-dropdown select:focus {
    outline: none;
    border-color: #1b96ff; 
    box-shadow: 0 0 3px #0176d3;
}
 
.custom-dropdown select::-ms-expand {
    display: none;
}
 
.custom-dropdown select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23424242" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-right: 25px;
    background-color: #fef1e8;
    width:100%;
}