.container{
    min-height: 100%;
    background-color: white;
    padding : 1rem;
    border: 2px solid orange;
    border-radius: 10px;
}

.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header div:first-child{
    width: 50%;
    align-self: center;
    text-align: left;
}
.checkbox-container{
    border: 1px solid black;
    width: 100%;
    min-height: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
}
.checkbox-container div label > *{
    margin-left: 1rem;
}
.checkbox-container >*{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.checkbox-item{
    border-radius: 50%;
    margin-left:0.5rem;
}

.course-container{
    width: 100%;
    min-height: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}
.course-container div label > *{
    margin-left: 1rem;
}
.course-container >*{
    display: flex;
    align-items: center;
}
.course-item{
    border-radius: 50%;
    margin-left:0.5rem;
}


.header div:last-child{
    padding: 1rem;
    align-self: center;
    width: 50%;
    text-align: right;
}

.header div:first-child h2, h1{
    color: #FF8C00;
    font-weight: bolder;
    font-size: small;    
    padding-bottom: 10px;
}
.middle-separator{
    position: absolute;
    content: " ";
    width: 2px;
    height: 80%;
    border: 2px dotted orange;
    left: 50%;
}

hr{
    margin: 0;
    border-color: #FF8C00; 
    border-width: 1px;
}

.tabs{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:0.5rem;
    margin-bottom: 1rem;

}

.tab{
    font-weight: 750;
    cursor: pointer;
    display: grid;
    place-items: center;
    flex: 1;
    background-color: #FEF3EA;
    min-height: 2rem;
    padding: 0.5rem;
}

.tab:first-child{
    color: white;
    background-color: #F57F26;
}


lightning-layout{
    text-align: left;
}
.custom-box label{
    color: black;
    font-weight: 700;
}
.error-message{
    color: red;
}
.input-container input{
    padding: 5px;
    border: 1px solid black;
    width: 100%;
    min-height: 2rem;
    font-size: 0.9rem;
    font-weight: 800;
}
.prev-next-btn{
    padding: 0.25rem;
    width: 150px;
    font-size: 1.05rem;
}
.reva-base-button{
      background-color: white;
    border :  1.5px solid black;
    font-weight:700;
    color:black;  
}

button:disabled{
    background-color: #c9c7c5;
    border-radius: 10px;
    border: #c9c7c5;
    color: #ffffff;
}
.reva-brand-button{
    background-color: var(--reva-brand-color);
    border:  var(--reva-brand-color);
    color: white;
    font-weight: 700;
}
.next-prev-button-section{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
    margin:1rem ;
}

@media (max-width:900px){
    .tab{
        font-size: 0.55rem;
        
    }
}
@media (max-width:600px){
    .prev-next-btn{
    width: 30vw;
    padding: 0.45rem;
    font-size: 12px;
}

@media (max-width:1200){
   
    .prev-next-btn{
    width: 120px;
    padding: 0.45rem;
     font-size: 14px;
}
}

}